body {
    background-color: bisque;
}

.title {
    color: rgb(255, 117, 19);
    text-align: center;
}

.content {
    font-weight: 600;
    width: 400px;
    margin: auto;
    margin-top: 50px;

}

li {
    margin: 10px;
}

.content a {
    text-decoration: none;
    color: rgb(58, 55, 55);
}

img {
    margin: auto;
    display: block;
    width: 300px;
}

.post {
    width: 60%;
    margin: auto;
}